body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

tr {
  border-bottom: solid 1px !important;
}

tr:hover {
  background-color: whitesmoke;
  transition: 0.3s;
}

th, td {
  padding: 10px;
}

th {
  background-color: whitesmoke;
}

table {
  width: 100%;
}

.heading--border {
  font-weight: bold;
}

.heading--border:after {
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  width: 128px;
  height: 2px;
  background: linear-gradient(90deg,#ffffff 0,#ff5f42 23%,#8141FF);
}

.worker, .resource {
  border-top: 2px solid rgb(173, 173, 173);
}

.type {
  background-color: whitesmoke;
  padding: 5px;
}

.subtask {
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.opposite {
  display: flex; 
  justify-content: space-between;
}

.center {
  display: flex; 
  justify-content: space-around;
}

.left-margin {
  margin-left: 15px;
}

select {
  padding: 4.5px;
}